<div class="header">
  <h1 class="header__title">Permissions</h1>
  <nav class="header__nav" mat-tab-nav-bar>
    <a mat-tab-link *ngFor="let nav of navList" class="header__nav-item"
       (click)="activeLink = nav"
       [routerLink]="nav"
       [active]="activeLink == nav">{{nav}}
    </a>
  </nav>
</div>
<div class="main-content">
  <app-permission-menu *ngIf="activeLink == 'Groups'" [menuItems]="groupsList"></app-permission-menu>
  <app-permission-menu *ngIf="activeLink == 'Roles'" [menuItems]="rolesList"></app-permission-menu>
</div>
<router-outlet></router-outlet>
