@import '~src/assets/styles/_variables'

.header
  padding: 10px 20px 0 20px
  display: flex 
  flex-direction: column
  border-bottom: 2px solid $border-color

.header__title
  margin: 0

.header__nav
  align-self: center

.mat-tab-link
  height: 40px
  font-size: 20px
  opacity: 1
  z-index: 10

.mat-tab-label,
.mat-tab-link
  font-family: inherit

.mat-tab-nav-bar,
.mat-tab-header 
  border: none

@media (min-width: $tablet-width)
  .header
    flex-direction: row
    justify-content: space-between
    