<section class="item-content content">
  <div class="content__header">
    <h2 class="content__title">{{title}}</h2>
    <div class="content__filter">
      <div class="content__filter-search">
        <input placeholder="Search" type="text"/>
        <mat-icon>search</mat-icon>
      </div>
      <div class="content__select-filter">
        <mat-form-field appearance="fill">
          <mat-select>
            <mat-option *ngFor="let filter of filterList" [value]="filter.name">
              {{filter.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div *ngFor="let item of itemsList" class="content__items item">
    <mat-checkbox class="item__check" [checked]="item.checked">{{item.name}}</mat-checkbox>
    <p class="item__tag">{{item.tag}}</p>
  </div>
  <!-- <div *ngIf="itemsList.length > itemsPerPage" class="content__pagination pagination">
    <div class="pagination__item" *ngFor="let page of pagesCount;let idx = index">{{idx+1}}</div>
  </div> -->
  <div *ngIf="!itemsList" class="content__no-data">
    <p class="content__no-data-text">There is nothing to change</p>
  </div>
</section>