<section class="item-content content">
  <div class="content__header">
    <h2 class="content__title">{{title}}</h2>
    <form class="content__filter-form" [formGroup]="form">
      <div class="content__filter-search search">
        <input class="search__input" placeholder="Search" type="text"
          (input)="getFilteredDataBySearch($event)" [formControl]="search"/>
        <mat-icon class="search__ico">search</mat-icon>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Select filter</mat-label>
        <mat-select (selectionChange)="getFilteredDataBySelect($event)" [formControl]="filterControl" name="filter">
          <mat-option *ngFor="let filter of filterList" [value]="filter.name">
            {{filter.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
  <div class="content__items">
    <div *ngFor="let item of filteredItems;let idx = index" 
        [class.visually-hidden]="idx < startRow || idx > endRow" 
        class="content__items item">
    <mat-checkbox (change)="checkItem(item)" class="item__check" [checked]="item.checked">{{item.name}}</mat-checkbox>
    <p class="item__tag">{{item.tag}}</p>
  </div>
  </div>
  <div *ngIf="filteredItems.length > defaultPageSize" class="content__footer pagination">
    <mat-paginator [length]="length" [pageSize]="pageSize" 
        [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)">
    </mat-paginator>
  </div>
  <div *ngIf="filteredItems.length == 0" class="content__no-data">
    <p class="content__no-data-text">There is nothing to change</p>
  </div>
</section>